@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
html{
    scroll-behavior: smooth;
}
*{
    margin: 0;
    padding: 0;

}
.navbar{
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 0px;
    cursor: pointer;
    

    
    

}
.nav-list{
    width: 70%;
    /* background-color: rgb(0, 0, 0); */
    display: flex;
    align-items: center;
}
.nav-list li{
    list-style: none;
    padding: 23px;

}
.nav-list li a{
    text-decoration: none;
    color: white;
    font-family: 'Ubuntu', sans-serif;
    
}
.nav-list li a:hover{
    text-decoration: none;
    color: gray;
    
}
.rightNav{
    /* background-color: violet; */
    width: 30%;
    text-align: right;
    padding: 0 20px;
}
.logo{
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo img{
    width: 25%;
    /* background-color: white; */
    filter: invert(100%);
}
#search{
    padding: 3px;
    font-size: 17px;
    border: 2px solid gray;
    border-radius: 9px;
    
}
.background{
    background: rgba(0, 0, 0, 0.9) url('bg.jpg');
    background-size: cover;
    background-blend-mode: darken;
}
.box-main{
    max-width: 50%;
    margin: auto;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    height: 75%;
    
}
.firstsection{
    height: 100vh;
    
} 
.firsthalf{
    width: 80%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.secondhalf img{
    width: 100%;
    display: block;
    margin: auto;
    filter: invert(100%);
    margin: 20px;


}
.textbig{
    font-size: 38px;
    font-family: 'Ubuntu', sans-serif;

}
.textsmall{
    font-size: 15px;
    font-family: 'Roboto Mono', monospace;


}
.btn{
    padding: 8px 20px;
    margin: 2px 0;
    border: 2px solid white;
    border-radius: 18px;
    background: none;
    cursor: pointer;
    outline: none;
    color: white;
    transition: background-color  1s;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}
.btn:hover{
    background-color: white;
    color: black;
    outline: none;
    
}
.section{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    max-width: 80%;
    margin: auto;
    padding: 10px 0;
    
    
}
.imgfluid{
    width: 400px;
    height: 240px;
}
.secleft{
    flex-direction: row-reverse;
}
.paras{
    padding: 0px 20px;
}
.imgfluid{
    border: 2px solid black;
    border-radius: 10px;
    margin-top: 20px;
}
.contact{
    background-color: rgba(183, 231, 231, 0.459);
    height: 100%;
}
.contact h2{
    text-align: center;
    padding: 30px;
    font-family: 'Ubuntu', sans-serif;
    font-size: 35px;
}
.form{
    max-width: 700px;
    margin: 25px auto;
}
.form input{
    width: 100%;
    font-size: 19px;
    border: 2px solid black;
    border-radius: 6px;
    margin: 14px 0;
    padding: 2px 5px;
    outline: none;
}
textarea{
    width: 100%;
    font-size: 19px;
    border: 2px solid black;
    border-radius: 6px;
    margin: 14px 0;
    padding: 2px 5px;
    font-family: 'Ubuntu', sans-serif;
    resize: none;
}
.form button{
    padding: 8px 20px;
    margin: 2px auto;
    border: 2px solid black;
    border-radius: 18px;
    background: none;
    cursor: pointer;
    outline: none;
    color: black;
    transition: background-color  1s;
    font-family: 'Ubuntu', sans-serif;
    
}
.form button:hover{
    background-color: black;
    color: white;
    
}
footer{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    color: white;
    font-family: 'Ubuntu', sans-serif;
    height: 100px;
    margin-top: -25px;
    flex-direction: column;
    padding: 20px;
    text-align: center;
}
.burger{
    position: absolute;
    cursor: pointer;
    top: 15px;
    right: 5%;
    display: none;

}
.line{
    width: 33px;
    background-color: white;
    height: 4px;
    margin: 3px 3px;
}
/*Responsive classes  styling*/
@media only screen and (max-width:1140px){
    .nav-list{
        flex-direction: column;
    }
    .navbar{
        flex-direction: column;
        height: 410px;
        transition: all 0.5s ease-in-out;  

    }
    .box-main{
        flex-direction: column-reverse;
        max-width: 100%;
    }
    .rightNav{
        text-align: center;
    }
    #search{
        width: 100%;
    }
    .burger{
        display: block;
    }
    .h-nav{
        height: 60px;
    }
    .v-class{
        opacity: 0;
    }
    .form{
        max-width: 80%;
        margin: 25px auto;
    }
    .section{
        flex-direction: column-reverse;
        
    }
    .textbig{
        text-align: center;


    }
    .textsmall{
        text-align: left;
        margin: 5px 0;

    }
    .buttons{
        text-align: center;

    }
    .paras {
        padding: 0px 3px;
    }
    .imgfluid{
        width: 300px;
        height: 200px;
    }
    .secondhalf img{
        margin: 0;
    }
}
